<!DOCTYPE html>
<html><head><style>form {display: flex;}input {width: 300px;font-size: 20px;height: 40px;border: 2px solid #c1c1c1;margin: 45px 15px 15px auto;border-radius: 15px;outline: none;font-size: 12px;}button {background-color: black;border-radius: 15px;padding: 15px;border: none;outline: none;color: white;margin: 45px auto 15px 0;}p {font-size: 32px;margin: auto;}</style></head>
    <body>
        <h3 style="font-size: 32px;margin: 45px 15px;">Spam message detector</h3>
        <form action="" method="post">
            <input type="text" name="message">
            <button type="submit">check</button>
        </form>
        <p>{{ post }}</p>
        <p>{{ user }}</p>
    </body>
</html>
